body {
  width: 434px;
  height: 62px; }
  body a:focus {
    outline: 0; }

.not-started a, .no-song a {
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 1.5em;
  text-decoration: none; }

.player h3, .player h4 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-overflow: ellipsis;
  overflow-x: hidden; }
.player img {
  width: 62px;
  margin-bottom: 8px;
  float: left;
  margin-right: 10px; }
.player .info {
  float: left;
  position: relative;
  top: 4px;
  width: 210px;
  white-space: nowrap; }
.player .controls {
  float: right;
  position: relative;
  top: 14px; }
  .player .controls a {
    margin-left: 10px; }
.player .open {
  position: absolute;
  bottom: 2px;
  right: 20px;
  font-size: 11px; }
.player .popout {
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 11px; }
.player .selected {
  color: #fc7007; }
